USE [SiriusQuality]
GO
/****** Object:  Table [dbo].[CREWPOOL_VMSTOR_COPY]    Script Date: 07/05/2026 14:46:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CREWPOOL_VMSTOR_COPY](
	[S_COMP] [numeric](3, 0) NOT NULL,
	[S_MATR] [numeric](6, 0) NOT NULL,
	[S_DATA] [numeric](9, 0) NULL,
	[S_NAVE] [numeric](3, 0) NOT NULL,
	[S_STATUS] [char](3) NOT NULL,
	[S_CONTR] [numeric](2, 0) NOT NULL,
	[S_QUA_MAR] [numeric](3, 0) NULL,
	[S_QUA_AMM] [numeric](3, 0) NULL,
	[S_LIV] [numeric](3, 0) NOT NULL,
	[S_LIVANA] [numeric](3, 0) NOT NULL,
	[S_QUAFF] [numeric](3, 0) NOT NULL,
	[S_CRL] [char](1) NOT NULL,
	[S_CONV] [char](3) NOT NULL,
	[S_DATPREIMB] [numeric](8, 0) NOT NULL,
	[S_TYPE] [char](3) NOT NULL,
	[S_GGING] [numeric](2, 0) NOT NULL,
	[S_GGRIM] [numeric](2, 0) NOT NULL,
	[S_PART] [varchar](1) NOT NULL,
	[S_PERCPART] [int] NOT NULL,
	[S_AMM_ENTE] [varchar](1) NOT NULL,
	[S_AMM_SEZ] [varchar](1) NOT NULL,
	[S_AMM_UFF] [varchar](1) NOT NULL,
	[S_CDC] [numeric](3, 0) NOT NULL,
	[S_DATFIN] [numeric](8, 0) NOT NULL,
	[S_MOTSBA] [numeric](3, 0) NULL,
	[S_MOTFIN] [int] NOT NULL,
	[S_CESS] [char](1) NOT NULL,
	[S_DATPRESBA] [numeric](8, 0) NOT NULL,
	[S_PORT_IMB] [int] NOT NULL,
	[S_PORT_SBA] [int] NOT NULL,
	[S_SOPNUM] [char](1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GETNEWSEAFARERINFOMTR]    Script Date: 07/05/2026 14:46:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_GETNEWSEAFARERINFOMTR]
AS
SET NOCOUNT ON

SELECT CONCAT(S_COMP,CONCAT('/',S_MATR)) AS ID, TRIM(ANAG.AN_NOME) AS FIRSTNAME, TRIM(ANAG.AN_COGN) AS LASTNAME, FORMAT(TRY_CONVERT(datetime, NULLIF(CAST(ANAG.AN_DTNAS AS varchar(8)),'0'),112), 'MM/dd/yyyy') AS DOB, TRIM(TPQU.TPQ_DES2) AS RANK, TRIM(NATI.TC_DES) AS NATIONALITY 
,TRIM(CONTACT.ANAC_MAIL) AS EMAIL ,TRY_CONVERT(datetime, NULLIF(CAST(S_DATA AS varchar(8)),'0'),112) AS SIGN_ON_DATE
,TRY_CONVERT(datetime, NULLIF(S_DATFIN, '0'),112) AS SIGN_OFF_DATE, TAGE.TAGE_RAGSOC AS [GROUP]
, CASE WHEN (SELECT TOP(1) TNAS_CREWMAN FROM OMNIA.PM_SIR.DBO.PAG_NEWITA_VMTNAS WHERE TNAS_COD=T.S_NAVE ORDER BY TNAS_DATA DESC) = 150 THEN 'd''Amico' ELSE 'Ishima' END  AS POOL
, TRIM(NAVI.NAME) AS VESSEL_NAME FROM (
SELECT * FROM OMNIA.PM_SIR.DBO.PAG_NEWITA_VMSTOR NOLOCK
EXCEPT
SELECT * FROM CREWPOOL_VMSTOR_COPY NOLOCK
) AS T
LEFT JOIN ELENCONAVI AS NAVI WITH (NOLOCK) ON CAST(T.S_NAVE AS VARCHAR(5)) =  NAVI.CODICE_OMNIA AND NAVI.AMBIENTE='PAG_NEWITA'
LEFT JOIN OMNIA.PM_SIR.DBO.PAG_NEWITA_VMANAG AS ANAG WITH (NOLOCK) ON ANAG.AN_COMP = T.S_COMP AND ANAG.AN_MATR = T.S_MATR
LEFT JOIN OMNIA.PM_SIR.DBO.PAG_NEWITA_VMTPQU AS TPQU WITH (NOLOCK) ON ANAG.AN_QUA_MAR=TPQU.TPQ_QUA
LEFT JOIN OMNIA.PM_SIR.DBO.PAG_NEWITA_VMTCOD_19 AS NATI WITH (NOLOCK) ON NATI.TC_COD=ANAG.AN_NAZ 
LEFT JOIN OMNIA.PM_SIR.DBO.PAG_NEWITA_VMANAC AS CONTACT on CONTACT.ANAC_COMP=ANAG.AN_COMP AND CONTACT.ANAC_MATR=ANAG.AN_MATR AND CONTACT.ANAC_PROG=1    
LEFT JOIN OMNIA.PM_SIR.DBO.PAG_NEWITA_VMTAGE AS TAGE ON ANAG.AN_AGE=TAGE.TAGE_COD

TRUNCATE TABLE CREWPOOL_VMSTOR_COPY
INSERT INTO CREWPOOL_VMSTOR_COPY SELECT * FROM OMNIA.PM_SIR.DBO.PAG_NEWITA_VMSTOR NOLOCK

SET NOCOUNT OFF





GO
